// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference
$primary: #0F1E5A !default; // elm
$brand: #0F1E5A !default;

$primary-300: $primary;
$primary-400: $primary;
$primary-500: $primary;
$primary-600: $primary;
$primary-700: $primary;

$brand-500: $brand;
$brand-700: $brand;

$accent-a: #AFBACE !default; // isotope blue
$accent-b: #AFBACE !default; // oxide yellow

$link-color:                $primary !default;

$font-family-sans-serif:     "Arial" !default; //"Helvetica Neue LT Std" !default;
$font-family-monospace:      "Arial" !default; //"Helvetica Neue LT Std" !default;
$font-family-serif:          $font-family-sans-serif !default;
